name: React Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: docker build -t react-cicd-app .

      - name: Run Docker Container
        run: docker run -d -p 80:80 react-cicd-app
